@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    margin-top: 70px;
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #00947b, 0 0 50px #00947b, 0 0 100px #00947b;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1s ;
}
.greetings > span:nth-child(7){
    animation-delay: 1.2s ;
}
.greetings > span:nth-child(8){
    animation-delay: 1.4s;
}
.greetings > span:nth-child(9){
    animation-delay: 1.6s;
}
.greetings > span:nth-child(10){
    animation-delay: 1.8s;
}
.greetings > span:nth-child(11){
    animation-delay: 2s;
}
.greetings > span:nth-child(12){
    animation-delay: 2.2s;
}

.description{
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}

/*!
 * Sakura.js 1.1.1
 * Vanilla JS version of jQuery-Sakura: Make it rain sakura petals.
 * https://github.com/jhammann/sakura
 *
 * Copyright 2019-2019 Jeroen Hammann
 *
 * Released under the MIT License
 *
 * Released on: September 4, 2019
 */
 @-webkit-keyframes fall {
    0% {
      opacity: 0.9;
      top: 0; }
    100% {
      opacity: 0.2;
      top: 100%; } }
  
  @keyframes fall {
    0% {
      opacity: 0.9;
      top: 0; }
    100% {
      opacity: 0.2;
      top: 100%; } }
  
  @-webkit-keyframes blow-soft-left {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -50%; } }
  
  @keyframes blow-soft-left {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -50%; } }
  
  @-webkit-keyframes blow-medium-left {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -100%; } }
  
  @keyframes blow-medium-left {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -100%; } }
  
  @-webkit-keyframes blow-soft-right {
    0% {
      margin-left: 0; }
    100% {
      margin-left: 50%; } }
  
  @keyframes blow-soft-right {
    0% {
      margin-left: 0; }
    100% {
      margin-left: 50%; } }
  
  @-webkit-keyframes blow-medium-right {
    0% {
      margin-left: 0; }
    100% {
      margin-left: 100%; } }
  
  @keyframes blow-medium-right {
    0% {
      margin-left: 0; }
    100% {
      margin-left: 100%; } }
  
  @-webkit-keyframes sway-0 {
    0% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    40% {
      -webkit-transform: rotate(28deg);
      transform: rotate(28deg); }
    100% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg); } }
  
  @keyframes sway-0 {
    0% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    40% {
      -webkit-transform: rotate(28deg);
      transform: rotate(28deg); }
    100% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg); } }
  
  @-webkit-keyframes sway-1 {
    0% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg); }
    40% {
      -webkit-transform: rotate(43deg);
      transform: rotate(43deg); }
    100% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); } }
  
  @keyframes sway-1 {
    0% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg); }
    40% {
      -webkit-transform: rotate(43deg);
      transform: rotate(43deg); }
    100% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); } }
  
  @-webkit-keyframes sway-2 {
    0% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
    40% {
      -webkit-transform: rotate(56deg);
      transform: rotate(56deg); }
    100% {
      -webkit-transform: rotate(22deg);
      transform: rotate(22deg); } }
  
  @keyframes sway-2 {
    0% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
    40% {
      -webkit-transform: rotate(56deg);
      transform: rotate(56deg); }
    100% {
      -webkit-transform: rotate(22deg);
      transform: rotate(22deg); } }
  
  @-webkit-keyframes sway-3 {
    0% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); }
    40% {
      -webkit-transform: rotate(74deg);
      transform: rotate(74deg); }
    100% {
      -webkit-transform: rotate(37deg);
      transform: rotate(37deg); } }
  
  @keyframes sway-3 {
    0% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); }
    40% {
      -webkit-transform: rotate(74deg);
      transform: rotate(74deg); }
    100% {
      -webkit-transform: rotate(37deg);
      transform: rotate(37deg); } }
  
  @-webkit-keyframes sway-4 {
    0% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); }
    40% {
      -webkit-transform: rotate(68deg);
      transform: rotate(68deg); }
    100% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); } }
  
  @keyframes sway-4 {
    0% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); }
    40% {
      -webkit-transform: rotate(68deg);
      transform: rotate(68deg); }
    100% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); } }
  
  @-webkit-keyframes sway-5 {
    0% {
      -webkit-transform: rotate(50deg);
      transform: rotate(50deg); }
    40% {
      -webkit-transform: rotate(78deg);
      transform: rotate(78deg); }
    100% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); } }
  
  @keyframes sway-5 {
    0% {
      -webkit-transform: rotate(50deg);
      transform: rotate(50deg); }
    40% {
      -webkit-transform: rotate(78deg);
      transform: rotate(78deg); }
    100% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); } }
  
  @-webkit-keyframes sway-6 {
    0% {
      -webkit-transform: rotate(65deg);
      transform: rotate(65deg); }
    40% {
      -webkit-transform: rotate(92deg);
      transform: rotate(92deg); }
    100% {
      -webkit-transform: rotate(58deg);
      transform: rotate(58deg); } }
  
  @keyframes sway-6 {
    0% {
      -webkit-transform: rotate(65deg);
      transform: rotate(65deg); }
    40% {
      -webkit-transform: rotate(92deg);
      transform: rotate(92deg); }
    100% {
      -webkit-transform: rotate(58deg);
      transform: rotate(58deg); } }
  
  @-webkit-keyframes sway-7 {
    0% {
      -webkit-transform: rotate(72deg);
      transform: rotate(72deg); }
    40% {
      -webkit-transform: rotate(118deg);
      transform: rotate(118deg); }
    100% {
      -webkit-transform: rotate(68deg);
      transform: rotate(68deg); } }
  
  @keyframes sway-7 {
    0% {
      -webkit-transform: rotate(72deg);
      transform: rotate(72deg); }
    40% {
      -webkit-transform: rotate(118deg);
      transform: rotate(118deg); }
    100% {
      -webkit-transform: rotate(68deg);
      transform: rotate(68deg); } }
  
  @-webkit-keyframes sway-8 {
    0% {
      -webkit-transform: rotate(94deg);
      transform: rotate(94deg); }
    40% {
      -webkit-transform: rotate(136deg);
      transform: rotate(136deg); }
    100% {
      -webkit-transform: rotate(82deg);
      transform: rotate(82deg); } }
  
  @keyframes sway-8 {
    0% {
      -webkit-transform: rotate(94deg);
      transform: rotate(94deg); }
    40% {
      -webkit-transform: rotate(136deg);
      transform: rotate(136deg); }
    100% {
      -webkit-transform: rotate(82deg);
      transform: rotate(82deg); } }
  
  .sakura {
    pointer-events: none;
    position: absolute; }